<h2><%= @destination.name %></h2>
<p><%= @destination.address %></p>

<h4>Hiking trail options for your Trip!</h4>
<p><%= @hike_options.count %> results </p>

<%= render partial: '/partials/hike_results', locals: {
  path: "/hikes/trips/create",
  hike_results: @hike_options
} %>
