<h1>Destination: <%= @trip.destination_name %></h1>
<h3><%= @trip.destination_address %></h3>

<h4>Climbing route options for your Trip!</h4>
<p><%= climb_results.count %> results</p>

<%= render partial: '/partials/climbs_results', locals:{
  path: "/trips/#{@trip.id}/climbs/create",
  climb_results: climb_results
} %>
