<h2><%= @location["name"] %></h2>
<p><%= @location["address"] %></p>

<h4>Climbing route options for your Trip!</h4>
<p><%= climb_results.count %> results</p>

<%= render partial: '/partials/climbs_results', locals: {
  path: climbs_trips_create_path,
  climb_results: climb_results
} %>
