<h4>About Escape</h4>
<section class="about">
  <p>Escape is an application to help partners and groups find fun destinations together that
  include both relaxing vacation hotspots with nearby adventurous activities</p>
</section>

<h4>Navigating Escape</h4>
<section class="how-to-navigate">
  <p>You can start by filling in a city or tourist attraction in the Destination box. Next, 
  pick an activity (currently the options are hiking and climbing). After that, you can choose 
  various preferences for that activity. View the various hiking or climbing route results and 
  choose a few to add to your trip. Finally, you can save your trip! If you do not like the results
  that came up, you can either go back or start over. In your profile, you can view all of your
  trips, add to them, or delete them.</p>
</section>

<h4>Meet the Developers</h4>
<section class="devs">
  <p>Alison Vermeil: A former coach, Ali enjoys guiding and mentoring others. Ali brings empathy and
  motivation to her software teams and enjoys both individual and group dynamics. </p>
  <br>
  <p>Ryan Allen: With previous experience in software development, Ryan joins us to learn about
  Ruby on Rails. </p>
  <br>
  <p>Madelyn Romero: Has a background in Sustainability, Urban Planning, and Clinical Herbalism and has
    a deep appreciation for empathetic design she is now a software developmenter because she values it's
   versatility, as well as for the joy of the challenge and the opportunity to do meaningful work.</p>
  <br>
  <p>Tyla Gillings: A former mental health coach, working on dynamic clinical teams, Tyla brings empathy and
  advocacy with her and utilizes her professional interpersonal skills from her previous career to 
  each software team she works with. Tyla has been excited to learn Ruby on Rails, with a focus on TDD
  and is looking forward to branching out and learning more. </p>
</section>