<h4>About Escape</h4>
<section class='about'>
  <p>Escape is an application to help partners and groups find fun destinations together. Find a relaxing beach or a tourist hotspot with nearby adventurous activities.</p>
</section>

<h4>Navigating Escape</h4>
<section class='how-to-navigate'>
  <li>Start by filling in a city or tourist attraction in the Destination box. </li>
  <li>Pick between hiking and climbing.</li> 
  <li>Choose your preferences. </li>
  <li>Select the various hiking trails or climbing route from the results to add to your trip.</li>
  <li>Save your trip!</li> 
  <li>In your profile, you can view all of your trips and add more routes and/or trails to them.</li>
  <br>
</section>

<h4>Meet the Developers</h4>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://avatars1.githubusercontent.com/u/51763489?s=400&u=3dda4a843e516cb1bc0e39cc8f324d2ca0d67241&v=4" alt="Madelyn's Picture">
        <div class="card-body">
          <h5 class="card-title">Madelyn Romero</h5>
          <p class="card-text">Has a background in Sustainability, Urban Planning, and Clinical Herbalism and has
        a deep appreciation for empathetic design she is now a software developmenter because she values it's
        versatility, as well as for the joy of the challenge and the opportunity to do meaningful work.</p>
          <div class="text-center">
          <a href="https://github.com/madelynrr" class="btn btn-primary" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://avatars3.githubusercontent.com/u/39674585?s=400&u=437085ea29405ff59c0f463b0e37cee0853bdbd8&v=4" alt="Tyla's Picture">
        <div class="card-body">
          <h5 class="card-title">Tyla Gillings</h5>
          <p class="card-text">A former mental health coach, working on dynamic clinical teams, Tyla brings empathy and
      advocacy with her and utilizes her professional interpersonal skills from her previous career to 
      each software team she works with. Tyla has been excited to learn Ruby on Rails, with a focus on TDD
      and is looking forward to branching out and learning more.</p>
          <div class="text-center">
          <a href="https://github.com/tyladevon" class="btn btn-primary" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
    <section class='devs'>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://avatars2.githubusercontent.com/u/51250305?s=400&u=ba2bc40dd9c3e930d5bb552d2c42378d185c48a1&v=4" alt="Alison's Picture">
        <div class="card-body">
          <h5 class="card-title">Alison Vermeil</h5>
          <p class="card-text">A former coach, Ali enjoys guiding and mentoring others. Ali brings empathy and
      motivation to her software teams and enjoys both individual and group dynamics.</p>
          <div class="text-center">
          <a href="https://github.com/mintona" class="btn btn-primary" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://avatars2.githubusercontent.com/u/53151022?s=460&v=4" alt="Ryan's Picture">
        <div class="card-body">
          <h5 class="card-title">Ryan Allen</h5>
          <p class="card-text">With a background in Mathematics, I thoroughly enjoy taking initiative in tackling problems and enjoy the process from start to finish.</p>
          <div class="text-center">
          <a href="https://github.com/rallen20" class="btn btn-primary" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
