/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* colors:  */
 /* blue: #30AFFF
 orange: #FF7948
 yellow: #F9B916 */

h1 {
  font-family: 'Caveat';
}

body {
  font-family: 'Barlow';
}

a:link {
  text-decoration: none;
  color: #30AFFF;
}

a:visited {
  color: #30AFFF
}

a:hover {
  color: #F9B916
}

.button {
  background-color: #FF7948;
  /* background-color: #30AFFF; */
  height: 35px;
  width: 200px;
  border-radius: 5px;
  font-family: 'Barlow';
  font-weight: bold;
}

.button:hover {
  background-color: #F9B916
}

nav {
  /* background-color: tomato; */
  border-bottom: 3px solid #30AFFF;
}

.success-flash {
  color:#F9B916;
  border:#F9B916;
}
.notice-flash {
  color:#F9B916;
  border:#F9B916;
}

#map {
 width: 500px;
 height: 300px;
}

.user-potrait {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}
#nav-links {
  font-size: 17px;
  text-align: right;
  padding: 5px;
  a {
    padding: 5px;
  }
}

form {
  line-height: 30px;
  input[type=text], select {
    width: 100px;
    text-align-last:center;
  }
  input[type=number], select {
    border-radius: 8px;
    text-align-last:center;
  }
}

